html {
    scroll-behavior: smooth;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
h1 {
    font-size: 50px;
    font-family: Audiowide;
}
p {
    font-size: 24px;
    line-height: 50px;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #006a80;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.nav li a {
    text-decoration: none; /* 밑줄 제거 */
    color: white; /* 텍스트 색상 */
    position: relative; /* 가상 요소의 위치를 기반으로 설정 */
    padding: 5px 10px; /* 패딩 추가 */
    transition: color 0.3s; /* 색상 전환 효과 추가 */
}

.nav li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: skyblue; /* 하늘색 배경 설정 */
    z-index: -1;
    transition: height 0.3s; /* 높이 전환 효과 추가 */
}

.nav li a:hover {
    color: #006a80; /* 호버 시 텍스트 색상 변경 */
}

.nav li a:hover:before {
    height: 100%; /* 호버 시 배경 채우기 */
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
img {
    width: 50%;
}
a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

}
a:hover {
    color: #000;
}

.banner-area {
    position: relative;
    background-image: url(https://img.freepik.com/free-photo/programming-background-concept_23-2150170143.jpg?w=1060&t=st=1697291593~exp=1697292193~hmac=8ceb1a65a32777c59510e07a51d1bc2d23cc736cf1944d0b9340601541c4e391);
    width: 100%;
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideDown 1.2s forwards; /* 애니메이션 적용 */
}

.about-area,
.port-area,
.service-area,
.contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.text-part {
    width: 65%;
    height: 80%;
}
.about-area {
    background-color: #fefefe;
}
.port-area {
    background-color: #262626;
    color: #fff;
}
.service-area {
    background-color: #fefefe;
}
.contact-area {
    background-color: #262626;
    color: #fff;
}
