html {
    scroll-behavior: smooth;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
h1 {
    font-size: 50px;
    font-family: Audiowide;
}
p {
    font-size: 24px;
    line-height: 50px;
}


/*https://img.freepik.com/free-photo/programming-background-concept_23-2150170143.jpg?w=1060&t=st=1697291593~exp=1697292193~hmac=8ceb1a65a32777c59510e07a51d1bc2d23cc736cf1944d0b9340601541c4e391*/

/*.banner-area {*/
/*    position: relative;*/
/*    background-image: url(https://img.freepik.com/free-photo/programming-background-concept_23-2150170143.jpg?w=1060&t=st=1697291593~exp=1697292193~hmac=8ceb1a65a32777c59510e07a51d1bc2d23cc736cf1944d0b9340601541c4e391);*/
/*    width: 100%;*/
/*    height: 150vh;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    animation: slideDown 1.2s forwards; !* 애니메이션 적용 *!*/
/*}*/

.about-area,
.port-area,
.service-area,
.contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.text-part {
    width: 65%;
    height: 80%;
}
.about-area {
    background-color: #fefefe;
}
.port-area {
    background-color: #262626;
    color: #fff;
}
.service-area {
    background-color: #fefefe;
    text-align: center;   /* "Skill Set" 제목 중앙 정렬 */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.skill-section {
    flex: 1;
    padding: 0 20px;  /* 필요한 경우 각 section에 패딩을 주어서 간격 조절 가능 */
    box-sizing: border-box;  /* 패딩이 너비에 포함되도록 설정 */
}

.skill-section ul li {
    font-size: 30px;  /* 원하는 폰트 크기로 조절 가능 */
}


.contact-area {
    background-color: #262626;
    color: #fff;
}
